@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #240046;
    padding: 25px;
}

.nombres {
    display: flex;
    align-items: center;
}

.nombres h1, a{
    color: #ff8500;
    text-decoration: none;
}

h1{
    font-size: 35px;
    font-weight: 800;
}

.cohete{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.buscador {
    padding: 6px;
    border-radius: 50px;
    width: 250px;
}

/* SECTION 1 */

.section1Intro {
    text-align: center;
    padding: 120px;
    background-image: url(../img/imgcodigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.section1Intro h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 30px;
    text-shadow: 0 0 5px #ffffff;
    margin-bottom: 90px;
    background-color: black;
    border-radius: 40px;
    opacity: 75%;
    padding: 10px 0px;
}

.btn1 {
    background: black;
}
/* SECTION 2 */

.section2Cursos {
    background: #1d0136;
    background-image: url(../img/fondovioleta.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.cursosDestacados {
    color: white;
    font-weight: 900;
    font-size: 30px;
    padding-top: 50px;
    letter-spacing: 1px;
    text-shadow:0 0 5px #f1f1f1;
}

.cursos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 90px 0px 100px 0px;
}

.tarjeta {
    border: 1px solid #982aec;
    border-radius: 20px;
    background: transparent;
    transition: transform .6s;
    box-shadow: 0 0 5px #5a189a,
                0 0 10px #5a189a,
                0 0 20px #5a189a;
}

.tarjeta:hover {
    transform: scale(1.1);
    transition: .6s ease;
    box-shadow: 0 0 5px #9d4edd,
                0 0 10px #9d4edd,
                0 0 20px #9d4edd;
}

.tarjeta img {
    width: 240px;
    height: 240px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 16px;
    background-color: rgb(36, 35, 35);
}

.section2Cursos h3 {
    padding-bottom: 18px;
    color: white;
}

.btn2, .btn1 {
    margin-bottom: 30px;
    padding: 12px 25px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid #fcf3f3;
    transition: .5s ease;
    font-size: 15px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.btn2:hover {
    background-color: #c77dff;
    border: 2px solid #982aec;
    text-shadow:0 0 5px #ffffff,
                0 0 10px #ffffff,
                0 0 20px #ffffff;
    box-shadow: 0 0 5px #8400ff,
                0 0 10px #8400ff,
                0 0 20px #8400ff;
}

/* SECTION 3 */

.section3Nosotros{
    background-color: #bea9d1;
}

.divContainer{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.biografia{
    border: 2px solid black;
}

.biografia img {
    width: 100px;
    height: 100px;
}

.biografia{
    display: inline-block;
    text-align: center;
}

.biografia:nth-child(2) {
    padding: 10px;
}

.biografia img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    padding: 5px;
}

section {
    background: #32065a;
}

/* FOOTER */

footer {
    background: #c6bdcf;
}

.divContainerFooter{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px,250px;
    grid-template-areas:
    "naxco cursos mapa"
    "naxco cursos mapa"
    "naxco cursos mapa";
}
.info{
    grid-area: naxco;
    margin: 0 auto;
    margin: 10px;
}
.info img{
    width: 45px;
    height: 45px;
    padding: 10px 5px;
}

.curso{
    grid-area: cursos;
    margin: 0 auto;
}
.curso ul li a{
    color: #0c0c0c;
    font-size: 20px;
    padding: 10px;

}
.mapa{
    grid-area: mapa;
    margin: 0 auto;
}